# Abaikan node_modules di semua subfolder
**/node_modules/

# Abaikan file log
*.log

# Abaikan semua folder build & dist di semua level
**/build/
**/dist/

# Abaikan source map
*.map

# Abaikan file environment
.env
.env.*
